.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
}

.title {
  font-size: 8.5rem;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg)
  }
  to {
    transform: rotateX(0deg);
  }
  
}

.container-input {
  background-color: rgba(255, 255, 255, 0.2s);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  color: #fff;
  outline: none;
  margin-right: 8px;
}

.container-input input::placeholder {
  color: #f1f1f1;
}

.btn-source {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.btn-source:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 50rem;
  border-radius: 8px;
}

.main h2 {
  margin: 1.6rem;
  font-size: 3.9rem;
}

.main span {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
}

@media(max-width: 620px) {
  .title {
    font-size: 6rem;
    text-align: center;
  }

  .main {
    width: 80%;
    min-height: 25rem;
  }

  .main h2 {
    font-size: 2.8rem;
  }
}